@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");

:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon--Green: hsla(150, 100%, 66%, 0.849);
  --Grayish-Blue: hsl(219, 19%, 23%);
  --Dark-Grayish-Blue: hsl(219, 21%, 13%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Dark-Grayish-Blue);
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 1px);
}

.container {
  position: relative;
  background-color: var(--Grayish-Blue);
  margin: 20px;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: 28px;
  border-radius: 10px;
  color: var(--Light-Cyan);
  font-weight: 800;
  box-shadow: 0 32px 36px -1px rgba(0, 0, 0, 0.35);
}

@media (min-width: 768px) {
  .container {
    max-width: 40%;
    box-shadow: 42px 32px 46px -1px rgba(0, 0, 0, 0.35);
  }
}

.container > * {
  padding-bottom: 30px;
}

.container__title {
  text-transform: uppercase;
  font-weight: 100;
  color: var(--Neon--Green);
  letter-spacing: 3px;
  font-size: 12px;
}

.container__divider {
  width: 100%;
}

.container__button {
  border: 0;
  padding: 20px 30px;
  background-color: var(--Neon--Green);
  border-radius: 100%;
  display: inline-flex;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: calc(100% - 30px);
  width: 10%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container__button:hover {
  box-shadow: 0 0 15px 5px var(--Neon--Green);
}

@media (min-width: 768px) {
  .container__button img {
    width: 20px;
  }
}
